# Internals
JWT_SECRET="asdasdadadadadasdasdadadsadasd"
PORT=3000
EMAIL="asdadsadasdadadadasdasdas"
PASSWORD="saadsdasdsadasdas"
BACKEND_URL="http://localhost:3000"

# Database URLs
MONGO_URI=dsadadsadadadsadasd
REDIS_URL=asdadsdasddad

# Google
GOOGLE_CLIENT_ID="sdfsadasdadsadadsa"
GOOGLE_CLIENT_SECRET="dasdadadsdasd"
GOOGLE_REDIRECT_URI="asdasadasds"
