# Internals
JWT_SECRET="sdadsdadasdasdas"
PORT=3000
EMAIL="email"
PASSWORD="password"

# Database URLs
MONGO_URI=asdadasdas
REDIS_URL=asddasdad

# Google
GOOGLE_CLIENT_ID="asdadsdadasasd"
GOOGLE_CLIENT_SECRET="dasdasdasd"
GOOGLE_REDIRECT_URI="asdsadadas"